/*
Styles for Klickafy Message Center
*/

input, textarea {
    width: 100% !important;
}

.message_center {
    margin-bottom: 150px;
}

.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

.message-form .input-group-addon, .message-form .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: bottom;
}

